<html>
  <head></head>
  <body style="margin:50px">
  	<h1>Delete Book</h1>
    <form style="font-size:20px" method='POST'>
      <label > Are you sure you want to delete </label>{{book.title}}<label>?</label>
      <br></br>
      <input style="font-size:18px" type="submit" id="submit_button" value="Delete">
      <a style="margin-left:20px;font-size:18px" href="{{url_for('showBook')}}"> Cancel </a>
    </form>
  </body>
</html>
