<html>
  <head></head>
  <body style="margin:50px">
  	<h1>New Book</h1>
  	<div style="font-size:20px"> Name: </div>
    <form method='POST'>
      <input style="font-size:18px" type="text" name="new_book" title="value">
      <input style="margin:20px;font-size:18px" type="submit" id="submit_button" value="Create">
      <a style="margin-left:10px;font-size:18px" href="{{url_for('showBook')}}"> Cancel </a>
    </form>

  </body>
</html>
