<html>
	<head> </head>
	<body style="margin:50px">
		<h1 >Books</h1>
		<hr style="margin-bottom:25px">
		{% if books == [] %}
			<p>No books exist</p>
		{% else %}
			{% for i in books %}
				<div style="font-size:20px">
					{{i.title}}
					<br/> <br/>
					<a href="{{url_for('editBook', book_id=i.id)}}">Edit book</a>
					<br/> <br/>
					<a href="{{url_for('deleteBook', book_id=i.id)}}">Delete book</a>
					<br/> <br/><br/> <br/>
				</div>
			{% endfor %}
		{% endif %}
	</body>
</html>
